
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




.App {
  text-align: center;
}

nav {
  background-color: #469c97;
  width: calc(100%);
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  font-weight: bold;
  height: 50px;
  justify-content: space-around;
  font-size: larger;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

nav li {
  margin: 10px;
  color: white;

}

nav a {
  text-decoration: none;
  font-size:26px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}


.navbar-container a {
  font-size: 20px !important;
  font-weight: 400;
  color: white;
  font-family: cursive; 


}
nav a:hover {
  background-color: #555;
}
button{
  background: transparent;
  border: 0;
  /* color: white; */
}
.parentBlog{
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-div {
  width: 600px;
  height: 300px;
  border: 0px solid #ccc;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}


.my-div1 {
  width: 600px;
  height: 300px;
  border: 0px solid #ccc;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 110px;
}
.mb-3{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.img{
  width: 100%;
  height: 89vh;
}
body{
  background-color: rgb(254, 254, 254);
}

.tableButton{
  width: 150px;
  height: 40px;
  background-color: rgb(245, 9, 84);
  border: none;
  font-size: larger;
  color: rgb(0, 0, 0);
  font-family: 'Times New Roman', Times, serif;
  border-radius: 10px 0px 10px 0px;
}
.tableButton1{
  width: 150px;
  height: 40px;
  background-color: rgb(225, 245, 9);
  border: none;
  color: black;
  font-size: larger;
  font-family: 'Times New Roman', Times, serif;
  border-radius: 10px 0px 10px 0px;
}

.add-article-link{
  width: 150px;
  height: 40px;
  padding: 10px 15px;
  background-color: rgb(112, 216, 254);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-decoration: none;
  font-size: larger;
  font-family: 'Times New Roman', Times, serif;
  border-radius: 10px 0px 10px 0px;
}
